.container {
  border-width:1px;
  
  border-color: black;
  background-color: rgb(144, 144, 144);
  padding:7px;  
  background-size: cover; 
}
/* ubicacion de la imagen del albergue  */
.ubicacion {
  
}

.img {
  background-image: url('/Imagenes/fondo.png');
  
}

.educacion{
  background-color: white;
}
