.container {
  border-width:1px;
  padding-top:10px;  
  height: auto;
  
}
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/*Imagen de fondo*/
.img {
  background-image: url('/Imagenes/fondo.png');
}

/* Imagen de calendario para los eventos */
.calendario{
  background-image: url('/Imagenes/calendario.png');
}

.fondo{
  background-color: rgba(255, 255, 255, 0.529);
  
} 

/* Podemos eliminar este estilo si no queremos que se adapte al ancho máximo */
.delimitador{
  width:700px;    /* Ancho máximo */
  margin:auto;    /* Centramos el vídeo */
}

/* El contenedor con el padding-top crea el tamaño del vídeo */
.contenedor{
  height:0px;
  width:100%;
  padding-top:56.25%; /* Relación: 16/9 = 56.25% */
  position:relative;
}
/* El iframe se adapta al tamaño del contenedor */
.contenedor iframe{
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  padding:30px;
}
/* CSS para columnas de la pagina principal - mapa */
.col{
  column-count:2;
  column-gap: 3em;
  column-rule: 1px solid #bbb;
  column-width: 140px;
}


img {

  float: left;
  margin: 15px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -ms-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out;
  max-width: 100%;
}
 /* Zoom para las imagenes de las mascotas en adopcion*/ 
.zoom {
    transition: transform .2s; 
}
.zoom:hover {
    transform: scale(1.5); 
}

/* Resaltar al pasar por los link de navegacion*/
.nav-link {
   text-decoration: none;
    background:white;
}
.nav-link:hover {
   
   color: rgb(179, 179, 179); 
  }


.imagen-requisitos {
  background-image: url('/Imagenes/requisitos.jpg');
  background-position: center center;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem 3rem;
   
  
}
.container-requisitos {
  flex: 0 0 95%;
  color: #ffffff;
  
}
.container-requisitos p {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .container-adopcion{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
}

/** Botones **/
.boton {
 
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
  border: none;
}

.boton:hover{
  text-decoration: none;
  color: white;
}

.boton-adopcion {
  background-color: #e0c709;
  display:inline-block;
}
.boton-nosotros {
  background-color: #71B100;
}

/* catalogo de mascotas en adopcion*/

.mascota {
  border: 1px solid #B5B5B5;
  background-color: #F5F5F5;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .mascota {
      flex: 0 0 calc(33.3% - 1rem);
  }
}
.contenido-mascota {
  padding: 1rem;
  margin-top: 2.5rem;
  margin-block-end: inherit;
}
.contenido-mascota h5, 
.contenido-mascota p  {
  margin: 1;
}

h1{
  background-color: rgb(181, 213, 208);
  font: oblique bold 200% cursive;
  text-align: center;
}
h2,h3{
  font: oblique bold 120% cursive;
}
h4{
  font: oblique bold 160% cursive;
}

h5{
  font: oblique bold 120% cursive;
}

/* Estilos para mostrar los eventos*/
.evento {
  border: 1px solid #B5B5B5;
  background-color: #F5F5F5;
  margin-bottom: 2rem;
}
.img-evento{
  text-align: center;
}

@media (min-width: 768px) {
  .evento {
      flex: 0 0 calc(33.3% - 1rem);
  }
}

.eventos{
  text-align: center;
  float: inherit;
  column-count:1;
  column-gap: 2em;
  column-rule: 1px solid #bbb;
  column-width: 140px;
}


